/*
 * Color Scheme

 Orange: #e96909
 		lighter x1: #f68b28
 		lighter x2: #ffa94d
 		darker x1: #c54f02
 		darker x2: #a13c00

 	Green: #67701b
 		lighter x1: #868d30
 		lighter x2: #aab053
 		darker x1: #4a560c
 		darker x2: #2b3702

 	Yellow: #fff57f
 		lighter x1: #fff8a9
 		lighter x2: #fffcd3
 		darker x1: #e4ca47
 		darker x2: #c5a322

 	Shadow (from lightest to darkest):
 		#1: #fff8f2
 		#1: #fff1e5
 		#2: #e9dcd1
 		#3: #c2aa96
 		#4: #997d66
 		#5: #654d39
 		#6: #120d08 or rgb(18, 13, 8) (nearly black)
 */
html, body {
	background-color: #fff8f2;
}
/*
 * Custom translucent site header
 */
.site-header {
	background-color: rgba(18, 13, 8, .85);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
	color: #c2aa96;
	transition: ease-in-out color .15s;
}
.site-header a:hover {
	color: #e9dcd1;
	text-decoration: none;
}
.container{
	max-width: 960px;
}
/*TODO optimize this image, it's huge*/
.landing-container{
	background-image: url('../images/landing.jpg');
	background-size: cover;
}
.produceList li {
	background-color: #fff;
}
.selected{
	border: 3px solid blue;
}
.recipe-card{
	width: 18rem;
}
.recipe-card .badge{
	margin-right: 0.25rem;
}